/* parte do fluxo de uso */
.fluxo-section{
    padding: 6.4rem 0;
}

.fluxo-header{
    max-width: 70rem;
    margin-bottom: 3rem;
}

.fluxo-label{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--color-amarelo);
    font-weight: 900;
}

.fluxo-title{
    margin-top: -0.6rem;
    color: var(--color-preto);
    font-size: 4.2rem;
}

.fluxo-text{
    max-width: 62rem;
    color: var(--texto-color);
}

.funcionalidades-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1.4rem;
}

.funcionalidade-card{
    min-height: 15rem;
    padding: 1.8rem;
    border-radius: 1.4rem;
    color: var(--color-branco);
    box-shadow: var(--shadow-card);
    transition: 0.3s ease;
}

.funcionalidade-card:hover{
    transform: translateY(-0.6rem);
}

.funcionalidade-card h3{
    margin-bottom: 1rem;
    font-size: 2.4rem;
}

.funcionalidade-card p{
    font-size: 1.4rem;
}

.funcionalidade-card:nth-child(1){
    background-color: var(--color-roxo);
}

.funcionalidade-card:nth-child(2){
    background-color: var(--color-azul);
}

.funcionalidade-card:nth-child(3){
    background-color: var(--color-ciano);
}

.funcionalidade-card:nth-child(4){
    background-color: var(--color-preto);
}

.funcionalidade-card:nth-child(5){
    background-color: #7c3aed;
}

.funcionalidade-card:nth-child(6){
    background-color: #0891b2;
}

.funcionalidade-card:nth-child(7){
    background-color: #4338ca;
}

/* carrossel dessa pagina */
.funcionalidades-slider{
    padding: 6.4rem 0;
    background-color: var(--color-offwhite);
}
